<div class="top-menu">
  {{data.title}}
    <img class="logo"
    (click)="onLogoClicked()"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div *ngFor="let pair of courses[0] | keyvalue">
  {{pair.key + ' ' + pair.value}}

</div>
<h1>{{ courses[0].description }}</h1>

<div class="courses">

  <course-card *ngFor="let course of courses;index as i; first as isFirst;"
      [class.is-first]="isFirst"
      (courseSelected)="onCourseSelected($event)" 
      [course]="course"
      [cardIndex]="i + 1"></course-card>

</div>



<input class="demo" [value]="data.title" (keyup)="onKeyUp(titleInput.value)" #titleInput>